$color-black: #1A1E29;
$color-accent: #FF7E00;

$color-dark-blue: #2B3143;
$color-light-blue: #4C65BD;

$color-blue-focus: #5c74cc;
$color-accent-focus: #ffa244;

$color-dark-grey: #E5E5E5;
$color-light-grey: #F5F5F5;