@import 'libs/bootstrap-reboot.min';
@import 'base/fonts';
@import 'base/variables';

* {
   font-family: 'IBM Plex Sans', sans-serif;
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
}

body {
   overflow-x: hidden;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   position: relative;
}

.main {
   flex: 1 0 auto;
}
.footer {
   flex: 0 0 auto;
}
ul {
   list-style-type: none;
   margin: 0;
}
a:hover {
   text-decoration: none;
}
p {
   margin: 0;
}
.container{
   width: 1280px;
   margin: 0 auto;
   padding: 0 28px;
}
.h1{
   font-weight: 500;
   font-size: 40px;
   line-height: 48px;
   color: #FFFFFF;
   max-width: 600px;
   span{
      background-color: $color-accent;
      box-shadow: -10px 0 0 $color-accent, 10px 0 0 $color-accent;
   }
}

@media (max-width: $col-extra-large){
   .container{
      width: $col-large;
   }
}
@media (max-width: $col-large){
   .container{
      width: $col-medium;
   }
}
@media (max-width: $col-medium){//table version
   .container{
      width: $col-small;
   }
}
@media (max-width: $col-small){

}





//components
@import 'components/input';
@import 'components/button';


//blocks
@import 'blocks/header'; 
@import 'blocks/sub-menu';
@import 'blocks/authorization';


//sections on pages
@import 'blocks/main/main-screen';

