.authorization{
   &__btn{
      @include reset-button;
      height: calc(5rem - 1px);//из-за border-bottom
      position: relative;
      font-weight: 500;
      font-size: 1rem;
      line-height: calc(5rem - 1px);//80-1 из-за border
      padding: 0 36px 0 1rem;
      color: #FFFFFF;
      svg{
         width: 1rem;
         height: 1rem;
         fill: currentColor;
         position: absolute;
         right: 1rem;
         top: 50%;
         transform: translateY(-50%);
      }
      &:hover, &:focus{
         color: $color-accent;
      }
   }
   .active{
      color: $color-accent;
      svg{
         transform: translateY(-50%) rotate(180deg);
      }
      border-bottom: 1px solid $color-accent;
   }

   &__inner{
      display: flex;
      justify-content: space-between;
   }
   &__title{
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      color: $color-accent;
      margin-bottom: 1rem;
   }
   &__sign-up{
      max-width: 495px;
   }
   &__input-inner{
      display: flex;
      margin-bottom: 1rem;
   }
   &__input{
      width: 308px;
      margin-right: 1rem;
   }

   &__checkbox{
      display: flex;
      span{
         padding-left: 1.5rem;
         font-size: 14px;
         line-height: 1rem;
         position: relative;
         &:before{
            position: absolute;
            top: 2px;
            left: 0;
            content: '';
            width: 1rem;
            height: 1rem;
            background-color: #FFFFFF;
            border: 1px solid $color-dark-grey;
            border-radius: 3px;
            cursor: pointer;
         }
      }
      a{
         color: $color-light-blue;
         &:hover{
            text-decoration: underline;
         }
         &:focus{
            text-decoration: underline;
            outline: none;
         }
      }
      input{
         position: absolute;
         opacity: 0;
      }
      input:checked + span::before{
         background-color: $color-accent;
         border: 1px solid $color-accent;
         background-image: url('../../resources/icons/checked.svg');
         background-repeat: no-repeat;
         background-position: center;
      }
      input:focus + span::before{
         border: 1px solid $color-accent;
      }

   }
}


@media (max-width: $col-extra-large){
   .authorization{
      &__input-inner{
         display: block;
      }
      &__input{
         margin-bottom: 1rem;
      }
      &__sign-up{
         max-width: 420px;
      }
   }
}
@media (max-width: $col-large){
   .authorization{
      &__input{
         width: 250px;
         margin-bottom: 1rem;
      }
      &__sign-up{
         max-width: 340px;
      }
   }
}