.authorization{
   &__inner{
      display: flex;
      justify-content: space-between;
   }
   &__title{
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $color-accent;
      margin-bottom: 16px;
   }
   &__sign-up{
      max-width: 495px;
   }
   &__input-inner{
      display: flex;
      margin-bottom: 16px;
   }
   &__input{
      width: 308px;
      margin-right: 16px;
   }

   &__checkbox{
      display: flex;
      span{
         padding-left: 24px;
         font-size: 14px;
         line-height: 16px;
         position: relative;
         &:before{
            position: absolute;
            top: 2px;
            left: 0;
            content: '';
            width: 16px;
            height: 16px;
            background-color: #FFFFFF;
            border: 1px solid $color-dark-grey;
            border-radius: 3px;
            cursor: pointer;
         }
      }
      a{
         color: $color-light-blue;
         &:hover{
            text-decoration: underline;
         }
         &:focus{
            text-decoration: underline;
            outline: none;
         }
      }
      input{
         position: absolute;
         opacity: 0;
      }
      input:checked + span::before{
         background-color: $color-accent;
         border: 1px solid $color-accent;
         background-image: url('../../resources/icons/checked.svg');
         background-repeat: no-repeat;
         background-position: center;
      }
      input:focus + span::before{
         border: 1px solid $color-accent;
      }

   }
}

@media (max-width: $col-extra-large){
   .authorization{
      &__input-inner{
         display: block;
      }
      &__input{
         margin-bottom: 16px;
      }
      &__sign-up{
         max-width: 420px;
      }
   }
}
@media (max-width: $col-large){
   .authorization{
      &__input{
         width: 250px;
         margin-bottom: 16px;
      }
      &__sign-up{
         max-width: 340px;
      }
   }
}
@media (max-width: $col-medium){//table version
   .authorization{
   }
}
@media (max-width: $col-small){

}