.footer{
   border-top: 1px solid $color-dark-grey;
   padding: 3rem 0;
   background-image: url('../resources/footer-logo.svg');
   background-repeat: no-repeat;
   background-position: top -1px center;
   &__nav{
   }
   &__center{
      grid-column: 4 span;
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__phone{
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      color: $color-black;
      margin-bottom: 4px;
   }
   &__descr{
      font-size: 1rem;
      line-height: 1rem;
      text-align: center;
      color: $color-text-grey;
      margin-bottom: 1rem;
   }
   &__btn{
      margin-bottom: 2rem;
   }
   &__social{
      margin-bottom: 2rem;
   }
   &__sponsor{
      width: 130px;
      height: 50px;
      object-fit: contain;
   }
}

.footer-nav{
   @include grid;
   &__col{
      grid-column: 2 span;
   }
   &__title{
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      color: $color-accent;
      margin-bottom: 1rem;
   }
   &__item{
      &:not(:last-child){
         margin-bottom: 1rem;
      }
   }
   &__link{
      display: inline-block;
      font-size: 14px;
      line-height: 1rem;
      color: $color-black;
   }
}


@media (max-width: $col-large){
   .footer{
      &__center{
         order: 1;
         padding-top: 2rem;
         grid-column: 12 span;
      }
   }
   .footer-nav{
      grid-row-gap: 0;
      &__title{
         position: relative;
         border-bottom: 1px solid $color-dark-grey;
         padding: 0.75rem 0;
         margin-bottom: 0;
         &::after{
            content: '';
            width: 1rem;
            height: 1rem;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 7.72499L3.54236 7L8 9.91976L12.4576 7L13 7.72499L8 11L3 7.72499Z' fill='%231A1E29'/%3E%3C/svg%3E");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
         }
      }
      &__title.active{
         border-bottom: 1px solid $color-accent;
         &::after{
            content: '';
            transform: translateY(-50%) rotate(180deg);
         }
      }
      &__col{
         grid-column: 12 span;
         &:first-child{
            padding-top: 4rem;
         }
      }
      &__item{
         line-height: 1.5rem;
         padding: 0.75rem 0;
         border-bottom: 1px solid $color-dark-grey;
         &:not(:last-child){
            margin-bottom: 0;
         }
      }
      &__list{
         display: none;
      }
   }
}
@media (max-width: $col-medium){

}
@media (max-width: $col-small){

}