.header-search{
   position: relative;
   z-index: 150;
   &_active{
      .header-search__inner{
         width: 804px;
      }
      .header-search__field{
         padding-left: 3rem;
         transition-delay: 0s;
      }
      .header-search__input{
         opacity: 1;
      }
      .header-search__btn, .header-search__field::before{
         transform: scale(1);
      }
      .header-search__input, .header-search__btn, .header-search__field::before{
         transition-delay: .1s;
      }
      .header-search__icon{
         svg:last-child{
            width: 1rem;
            height: 1rem;
            transition-delay: .3s;
         }
         svg:first-child{
            width: 0;
            height: 0;
            transition-delay: 0s;
         }
      }
   }
   &__inner{
      height: 5rem;
      width: 0px;
      background-color: $color-black;
      position: absolute;
      top: 0;
      right: 5rem;
      display: flex;
      align-items: center;
      transition: width .5s;
   }
   &__field{
      height: 3rem;
      width: 100%;
      background-color: $color-dark-blue;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &::before{
         content: '';
         background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7.5C12 9.98528 9.98528 12 7.5 12C5.01472 12 3 9.98528 3 7.5C3 5.01472 5.01472 3 7.5 3C9.98528 3 12 5.01472 12 7.5ZM11.0195 11.7266C10.0658 12.5217 8.83875 13 7.5 13C4.46243 13 2 10.5376 2 7.5C2 4.46243 4.46243 2 7.5 2C10.5376 2 13 4.46243 13 7.5C13 8.83875 12.5217 10.0658 11.7266 11.0195L14.3536 13.6464L13.6464 14.3536L11.0195 11.7266Z' fill='%23FF7E00'/%3E%3C/svg%3E");
         background-repeat: no-repeat;
         background-size: cover;
         position: absolute;
         top: 1rem;
         left: 1rem;
         width: 1rem;
         height: 1rem;
         transform: scale(0);
      }
   }
   &__input{
      opacity: 0;
      height: 1.5rem;
      width: calc(100% - 100px);
      background-color: transparent;
      border: none;
      color: #FFFFFF;
      &:focus{
         outline: none;
      }
   }
   &__btn{
      transform: scale(0);
      @include reset-button;
      color: $color-accent;
      font-weight: 500;
      font-size: 14px;
      line-height: 1rem;
      padding: 1rem;
      transition: color .3s;
      &:hover{
         color: $color-light-blue;
      }
   }
   &__field, &__input, &__btn::before{
      transition: all .5s;
      transition-delay: 0s;
   }
   &__icon{
      // крестик
      svg:last-child{
         width: 0;
         height: 0;
         transition-delay: 0s;
      }
      svg:first-child{
         transition-delay: .3s;
      }
      svg{
         width: 1rem;
         height: 1rem;
         fill: #FFFFFF;
         transition: all .3s;
      }
   }
}


@media (max-width: $col-extra-large){
   .header-search{
      &_active{
         .header-search__inner{
            width: 515px;
         }
      }
   }
}
@media (max-width: $col-large){
   .header-search{
      &_active{
         .header-search__inner{
            width: 552px;
         }
      }
   }
}
@media (max-width: $col-medium){
   .header-search{
      &_active{
         .header-search__inner{
            width: calc($col-small - 2 * 5rem - 30px);//5rem - ширина кнопки поиска и аккаунта, 30px - padding у container
         }
         .header-search__field{
            padding-left: 1rem;
         }
      }
      &__input{
         width: 100%;
      }
      &__field{
         &::before{
            width: 0;
            height: 0;
         }
      }
   }
}
@media (max-width: $col-small){
   .header-search{
      position: static;
      &_active{
         .header-search__inner{
            width: 100%;
         }
      }
      &__input{
         font-size: 14px;
      }
      &__inner{
         height: auto;
         top: 5rem;
         left: 0;
      }
      &__btn{
         transition: transform .5s;
      }
   }
}