.header{
   height: 5rem;
   background-color: $color-black;
   color: white;
   position: relative;

   &__logo{
      display: flex;
      align-items: center;//end
      justify-content: center;
      img{
         width: 4rem;
      }
   }
   &__inner{
      display: flex;
   }
   &__col{
      flex: 0 1 50%;
      &:nth-child(3){
         flex: 0 0 96px;
         text-align: center;
      }
   }
   &__menu{
      z-index: 100;
   }
   &__menu-btn{
      @include reset-button;
      position: relative;
      cursor: pointer;
      font-weight: 500;
      font-size: 1rem;
      line-height: calc(5rem - 1px);//80-1 из-за border
      padding: 0 36px 0 1rem;
      color: #FFFFFF;
      svg{
         position: absolute;
         right: 1rem;
         top: 50%;
         transform: translateY(-50%);
      }
      path{
         fill: currentColor;
      }
      &:hover, &:focus{
         color: $color-accent;
      }
   }
   .active{
      color: $color-accent;
      svg{
         transform: translateY(-50%) rotate(180deg);
      }
      border-bottom: 1px solid $color-accent;
   }

   //кнопка меню при размерах экрана под планшет
   &__mobile-btn{
      display: none;
      button{
         background: transparent;
         line-height: calc(5rem - 1px);//80-1 из-за border
         padding: 0 1rem;
         border: none;
         font-weight: 500;
         color: #FFFFFF;
         display: flex;
         align-items: center;
         &_active{
            color: $color-accent;
            border-bottom: 1px solid $color-accent;
         }
         &:focus{
            outline: none;
            color: $color-accent;
         }
      }
   }
   &__burger{
      margin-right: 10px;
      span{
         position: relative;
         display: block;
         height: 1px;
         width: 14px;
         background-color: currentColor;
         &::before, &::after{
            content: '';
            position: absolute;
            left: 0;
            height: 1px;
            width: 18px;
            background-color: currentColor;
         }
         &::before{
            top: 5px;
         }
         &::after{
            top: -5px;
         }
      }
   }


   &__menu-list{
      display: flex;
   }
   &__menu-item{
      
   }
   &__right{
      display: flex;
      justify-content: end;
      align-items: center;
   }
   &__right-item{
      background-color: transparent;
      border: none;
      color: white;
      display: flex;
      min-width: 5rem;
      height: 5rem;
      align-items: center;
      justify-content: center;
      position: relative;
      &:focus{
         outline: none;
      }
   }

   
   &__account{
      padding: 0 36px 0 1rem;
      path{
         fill: currentColor;
      }
      svg{
         position: absolute;
         right: 1rem;
         top: 50%;
         transform: translateY(-50%);
      }
      &:hover, &:focus{
         outline: none;
         color: $color-accent;
      }
   }
   &__account-icon{
      display: none;
   }

   //icons
   &__search-icon, &__account-icon{
      &:focus path, &:hover path{
         fill: $color-accent;
      }
   }
   &__like, &__cart{
      &:focus path, &:hover path{
         stroke: $color-accent;
      }
      &:focus rect, &:hover rect{
         fill: $color-accent;
      }
   }

   &__sub-menu{
      position: absolute;
      left: 0;
      width: 100%;
      top: 5rem;//высота шапки
   }
}


@media (max-width: $col-extra-large){}
@media (max-width: $col-large){
   .header{
      &__account-icon, &__menu-btn, &__mobile-btn{
         display: block;
      }
      &__account, &__like, &__cart, &__menu{
         display: none;
      }
      &__menu-item{
         padding: 0 1.5rem 0 0.75rem;
         svg{
            right: 6px;
         }
      }
      &__menu{
         padding: 2rem 0 3rem 0;
         background-color: #2b3143;
         position: absolute;
         top: 5rem;
         left: 0;
         width: 100%;
      }
      &__menu-list{
         width: $col-medium;
         margin: 0 auto;
         padding: 0 28px;
         display: block;
      }
      &__menu-item{
         font-weight: 500;
         font-size: 18px;
         line-height: 2.5rem;
         padding: 0.5rem 0;
         position: relative;
         padding: 0;
         &:not(:last-child){
            margin-bottom: 1.5rem;
         }
      }
      &__menu-btn{
         border-bottom: 1px solid #3E465F;
         width: 100%;
         display: flex;
         line-height: 2.5rem;
         padding: 0;
         svg{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
         }
      }
   }
}
@media (max-width: $col-medium){//table version
   .header{
      &__menu-list{
         width: $col-small;
      }
   }
}
@media (max-width: $col-small){
   .header{
      &__right-item{
         min-width: 3rem;
         height: 3rem;
      }
   }
}