.info-card{
   width: 392px;
   height: 100%;//находится внутри слайдера
   display: block;
   padding: 0;
   // grid-column: 4 span;
   border-radius: 3px;
   overflow: hidden;
   border: 1px solid $color-dark-grey;
   padding-bottom: 2rem;
   position: relative;
   color: $color-black;
   transition: all .3s;
   
   &:hover{
      color: $color-accent;
   }
   &_fixed{
      height: 448px;
      .info-card__time{
         margin-bottom: 0;
         position: absolute;
         left: 2rem;
         bottom: 2rem;
      }
      .info-card__title{
         margin-bottom: 0.5rem;
      }
   }
   &__img{
      width: 100%;
      overflow: hidden;
      height: 272px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      // margin-bottom: 1rem;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title{
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: -6px;
      margin-bottom: 1rem;
      position: relative;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
   }
   &__wrapper{
      padding: 0 2rem;
      padding-top: 1.5rem;
      position: relative;
      background-color: transparent;
      background-image: url('../../resources/img/decor/info-card-decor-390.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      margin-top: -1.5rem;
   }
   &__descr{
      padding-left: calc(1rem + 0.5rem);
      font-size: 14px;
      line-height: 1rem;
      color: $color-text-grey;
      position: relative;
   }
   &__time, &__price{
      &::before{
         content: '';
         width: 1rem;
         height: 1rem;
         position: absolute;
         top: 0;
         left: 0;
         background-repeat: no-repeat;
         background-size: cover;
      }
   }
   &__time{
      margin-bottom: 1rem;
      &::before{
         background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8ZM15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8ZM8.5 7.79289V4H7.5V8.20711L9.64645 10.3536L10.3536 9.64645L8.5 7.79289Z' fill='%236A6A6A'/%3E%3C/svg%3E");
      }
      span{
         font-weight: 500;
         color: $color-black;
         margin-left: 0.5rem;
      }
   }
   &__price{
      &::before{
         background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2H2V3H4V9H2V10H4V12H2V13H4V15H5V13H11V12H5V10H10C12.2091 10 14 8.20914 14 6C14 3.79086 12.2091 2 10 2H5H4ZM5 3V9H10C11.6569 9 13 7.65685 13 6C13 4.34315 11.6569 3 10 3L5 3Z' fill='%236A6A6A'/%3E%3C/svg%3E");
      }
   }
   &__decor{
      width: 100%;
      position: absolute;
      bottom: -5rem;
   }
}


@media (max-width: $col-extra-large){
   .info-card{
      width: 296px;
      &__wrapper{
         background-image: url('../../resources/img/decor/info-card-decor-292.svg');
      }
      &__img{
         height: 230px;
      }
   }
}
@media (max-width: $col-large){
   .info-card{
      width: 392px;
      &__wrapper{
         background-image: url('../../resources/img/decor/info-card-decor-390.svg');
      }
      &__img{
         height: 272px;
      }
   }
}
@media (max-width: $col-small){
   .info-card{
      padding-bottom: 1.5rem;
      &__title{
         font-size: 20px;
         line-height: 28px;
      }
   }
}
@media (max-width: $col-extra-small){
   .info-card{
      width: auto;
   }
}