.mobile-menu{
   &__item{
      font-weight: 500;
      font-size: 18px;
      line-height: 40px;
      padding: 8px 0;
      position: relative;
      border-bottom: 1px solid #3E465F;
      svg{
         position: absolute;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
      }
      path{
         fill: currentColor;
      }
      &_active{
         color: $color-accent;
         svg{
            transform: translateY(-50%) rotate(180deg);
         }
      }
   }
}