.sub-menu{
   display: none;
   padding: 32px 0 48px 0;
   background-color: $color-dark-blue;

   &_active{
      display: block !important;
   }

   &__inner{
      display: flex;
      justify-content: space-between;
   }
   &__list{
      min-width: 495px;
      &_left{
         width: 600px;
      }
   }
   &__icon{
      width: 96px;
      height: 96px;
   }
   &__item{
      font-weight: 500;
      font-size: 16px;
      line-height: 48px;
      width: 100%;
      border-bottom: 1px solid #3E465F;
      &_big{
         line-height: 24px;
         padding-bottom: 23px;
         &:not(:first-child){
            margin-top: 30px;
         }
         &:hover .sub-menu__title{
            text-decoration: underline;
         }
      }
   }
   &__link{
      color: white;
      display: flex;
      img{
         margin-right: 25px;
      }
      &:hover{
         color: $color-accent;
      }
   }
   &__title{
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $color-accent;
      margin-bottom: 15px;
   }
   &__tags{
      display: flex;
      flex-wrap: wrap;
      &:not(:last-child){
         margin-bottom: 5px;
      }
      span{
         margin-bottom: 5px;
         font-weight: 400;
         color: $color-dark-grey;
         font-size: 14px;
         line-height: 16px;
         margin-right: 8px;
         &:last-child{
            margin-right: 0;
         }
      }
      svg{
         margin-right: 8px;
      }
   }
}
@media (max-width: $col-extra-large){
   .sub-menu{
      &__list{
         min-width: 350px;
         &_left{
            width: 500px;
         }
      }
   }
}
@media (max-width: $col-large){
   .sub-menu{
      &__list{
         min-width: auto;
         width: 250px;
         &_left{
            width: 400px;
         }
      }
      &__item{
         line-height: 24px;
         padding: 12px 0;
      }
   }
}
@media (max-width: $col-medium){//table version
   .sub-menu{
   }
}
@media (max-width: $col-small){

}