.button{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px 24px;
   height: 40px;
   padding: 0 24px;
   background-color: $color-accent;
   border-radius: 3px;
   border: none;
   outline: none;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: #FFFFFF;
   transition: all .3s;
   &:hover{
      background-color: $color-light-blue;
   }
   &:focus{
      outline: none;
      background-color: $color-blue-focus;
   }

   &_light{
      background: #FFFFFF;
      border: 1px solid #EFD8C3;
      border-radius: 3px;
      color: $color-accent;
      &:hover{
         background-color: $color-accent;
         border: 1px solid $color-accent;
         color: #FFFFFF;
      }
      &:focus{
         background-color: $color-accent-focus;
         border: 1px solid $color-accent-focus;
         color: #FFFFFF;
      }
   }
}