.review{
   svg{
      width: 14px;
      height: 13px;
      fill: currentColor;
      margin-right: 2px;
   }
   span{
      line-height: 40px;
      font-size: 14px;
      line-height: 1rem;
   }
}