.select{
   width: 184px;
   position: relative;
   &_open{
      .select__backdrop{
         display: block;
         z-index: 40;
      }
      .select__dropdown{
         display: block;
         z-index: 50;
      }
      .select__input{
         &::after{
            transform: translateY(-50%) rotate(180deg);
         }
      }
   }
   &_disabled{
      .select__input{
         color: $color-text-grey;
         background: $color-light-grey;
         cursor: default;
      }
   }
   &__input{
      background: #FFFFFF;
      border: 1px solid $color-dark-grey;
      border-radius: 3px;
      font-size: 14px;
      line-height: 1rem;
      font-weight: 400;
      color: $color-black;
      padding: 0.75rem;
      padding-left: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      position: relative;
      span{
         pointer-events: none;
      }
      &::after{
         content: '';
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: 1rem;
         width: 10px;
         height: 4px;
         background-image: url("data:image/svg+xml,%3Csvg width='10' height='4' viewBox='0 0 10 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.724993L0.54236 0L5 2.91976L9.45764 0L10 0.724993L5 4L0 0.724993Z' fill='%231A1E29'/%3E%3C/svg%3E");
         background-size: contain;
         background-repeat: no-repeat;
      }
   }
   &__dropdown{
      display: none;
      position: absolute;
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(172, 85, 0, 0.08), 0px 8px 32px rgba(255, 126, 0, 0.16);
      border-radius: 2px;
      max-height: 200px;
      top: calc(42px + 4px);
      left: 0;
      overflow-y: auto;
      width: 100%;
   }
   &__item{
      line-height: 2.5rem;
      padding: 0 1rem;
      transition: all .3s;
      font-size: 14px;
      cursor: pointer;
      &:not(:last-child){
         border-bottom: 1px solid $color-dark-grey;
      }
      &:hover{
         background-color: $color-accent;
         color: white;
      }
      &.selected{
         background-color: $color-accent;
         color: white;
      }
   }
   &__backdrop{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: transparent;
   }
}