.about{
   padding-top: 2rem;
   padding-bottom: 4rem;
   &__container{
      @include grid;
   }
   &__img{
      grid-column: 6 span;
      height: 400px;
      img{
         @include image-div;
      }
   }
   &__wrapper{
      grid-column: 6 span;
   }
   &__title{
      text-align: left;
      margin-bottom: 1rem;
   }
   &__descr{
      font-size: 1rem;
      line-height: 1.5rem;
      color: $color-text-grey;
      margin-bottom: 1.5rem;
   }
}


@media (max-width: $col-extra-large){
   .about{
      &__img{
         img{
            object-position: left;
         }
         &__title{
            text-align: left;
            margin-bottom: 1rem;
         }
      }
   }
}
@media (max-width: $col-large){
   .about{
      &__img{
         grid-column: 12 span;
         height: auto;
      }
      &__wrapper{
         grid-column: 12 span;
      }
   }
}
@media (max-width: $col-medium){
   .about{
      &__title{
         font-size: 1.5rem;
         line-height: 2rem;
      }
   }
}
@media (max-width: $col-small){
   .about{
      padding-top: 1.5rem;
      padding-bottom: 3rem;
      &__title{
         font-size: 20px;
         line-height: 28px;
      }
      &__descr{
         font-size: 14px;
         line-height: 18px;
      }
   }
}
