.main-screen{
   background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../resources/img/main-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 450px;
   
   &__container{
      display: flex;
      justify-content: flex-end;
      position: relative;
   }
   &__inner{
      padding-top: 5rem;
   }
   &__h1{
      padding-left: 10px;
      margin-bottom: 2rem;
   }
   &__btn{
      width: 150px;
      height: 50px;
      font-size: 1rem;
   }
}

@media (max-width: $col-extra-large){
   .main-screen{
      &__h1{
         max-width: 500px;
      }
   }
}
@media (max-width: $col-large){
   .main-screen{
      background-size: 1000px;
      &__h1{
         max-width: 430px;
      }
   }
}
@media (max-width: $col-medium){//table version
   .main-screen{
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../resources/img/main-bg-small.jpg');
      background-color: $color-black;
      background-size: cover;
      // background-position: center top -60px;
      &__container{
         height: 100%;
      }
      &__inner{
         position: absolute;
         bottom: 2rem;
         left: 0;
         padding: 0 15px;
      }
   }
}
@media (max-width: $col-extra-small){
   .main-screen{
      &__h1{
         font-size: 28px;
         line-height: 36px;
      }
   }
}