.popular-services{
   padding: 2rem 0;
   &__inner{
      display: flex;
      margin-bottom: 2rem;
      min-width: 0;
   }
}


@media (max-width: $col-small){
   .popular-services{
      padding: 1.5rem 0;
      &__inner{
         margin-bottom: 1rem;
      }
   }
}