.popular-tires{
   padding: 2rem 0;
}

@media (max-width: $col-medium){
   .popular-tires{
      .tabs__list{
         justify-content: flex-start;
         width: 100%;
         overflow-x: auto;
      }
   }
}