.popular-wheels{
   padding: 2rem 0;
   &__btns-inner{
      margin-bottom: 1.5rem;
   }
   &__products-inner{
      @include grid;
      margin-bottom: 2rem;
   }
}


@media (max-width: $col-small){
   .popular-wheels{
      padding: 1.5rem 0;
   }
}
@media (max-width: $col-extra-small){
   .popular-wheels{
      &__products-inner{
         display: block;
      }
   }
}