.promotions{
   padding: 2rem 0;
   &__inner{
      // @include grid;
      display: flex;
      margin-bottom: 2rem;
      min-width: 0;
   }
   &__info-card{
      .info-card__img{
         img:first-child{
            object-position: left;
         }
      }
   }
}


@media (max-width: $col-small){
   .promotions{
      padding: 1.5rem 0;
      &__inner{
         margin-bottom: 1rem;
      }
   }
}