.search-parameters{
   padding-top: 1.5rem;
   padding-bottom: 4rem;
   &__inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2rem;
      border-bottom: 1px solid $color-dark-grey;
   }
   &__h3{
      font-size: 18px;
      line-height: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
   }
   &__item{
      color: $color-light-blue;
      cursor: pointer;
      border-bottom: 1px dashed $color-light-blue;
      &_active{
         color: $color-black;
         border-bottom: 1px solid $color-accent;
         cursor: text;
      }
   }
   &__inputs-container{
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .select:not(:last-child){
         margin-right: 1.5rem;
      }
      .select{
         margin-top: 1rem;
      }
   }
}